<% @start_time = Time.now.to_i %>
<h1>New Game</h1>

<div class="all_letters">
  <% @letters.each do |letter|%>
    <ul>
      <li> <%= letter %></li>
    </ul>
  <% end%>
</div>
<form action="/score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>What is the longest word you can find ?</p>
  <input type="text" name="word" class="simple_form search" placeholder="Type word here">
  <input type="hidden" name="grid" class="simple_form search" value = <%=@letters.join%>>
  <input type="hidden" name="start" class="simple_form search" value = <%=@start_time%>>
  <input type="submit" value="PLAY!" class="btn btn-flat">
</form>
