<h1>Games Score</h1>

<p>You took : <%= @answer[:time] %> seconds</p>
<p>Your score is : <%= @answer[:score] %> points</p>
<p><strong><%= @answer[:message] %> !!!</strong></p>

<%= link_to "Play Again", new_path %>

